<div class="page">
  <div class="single-centered-page">
    <mat-card class="card">
      <mat-card-subtitle>Create an employee</mat-card-subtitle>
      <mat-card-content>
        <app-form-user
          submitButtonName="Create"
          [roles]="['employee']"
          (submitForm)="submitFormHandler($event)"
        >
        </app-form-user>
      </mat-card-content>
    </mat-card>
  </div>
</div>
