<div class="page">
  <div class="single-centered-page">
    <mat-card class="card">
      <mat-card-subtitle>Edit your account</mat-card-subtitle>
      <mat-card-content>
        <app-form-user
          username="{{ this.user.username }}"
          email="{{ this.user.email }}"
          (submitForm)="submitFormHandler($event)"
          submitButtonName="update"
        >
        </app-form-user>
      </mat-card-content>
    </mat-card>
  </div>
</div>
