.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  padding-left: 0.5em;
  font-size: large;
  display: inline;
}

.page-container {
  flex-grow: 1;
  height: 100%;
}

.toolbar {
  z-index: 2;
}

.side-menu {
  min-width: 15vw;
}

@media only screen and (max-device-width: 1260px) {
  .side-menu {
    min-width: 30vw;
  }
}

@media only screen and (max-device-width: 600px) {
  .title {
    display: none;
  }

  .side-menu {
    min-width: 80vw;
  }
}

/**
 * Reusable tags.
 */

.single-centered-page {
  display: flex;
  height: 100%;
  & > * {
    margin: auto;
  }

  & .mat-card {
    padding: 40px 80px 40px 80px;

    & .mat-card-subtitle {
      text-align: center;
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
}

.single-centered-form {
  &  > .form-groups {
    padding: 20px 0 20px 0;

    & .mat-form-field {
      display: flex;
      flex-direction: column;
    }
  }
}

.centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
