<div class="app">
    <mat-toolbar color="primary" class="mat-elevation-z8 toolbar">
        <div class="box">
            <div *ngIf="user">
                <div>
                    <button (click)="drawer.toggle()" mat-icon-button>
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div>
                <button mat-button (click)="drawer.close() && onTitleClick()">
                    <mat-icon>timeline</mat-icon>
                    <div class="title">Gothime</div>
                </button>
            <div class="spacer"></div>

            <div *ngIf="user">
                <div class="box">
                    <div>
                        <button mat-button (click)="drawer.close() && onUserInfo()">
                            <mat-icon>person</mat-icon>
                            <div class="title">{{ user.username }}</div>
                        </button>
                    </div>
                    <div>
                        <button (click)="drawer.close() && onLogout()" mat-icon-button>
                            <mat-icon>logout</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-toolbar>
    <mat-drawer-container class="page-container" autosize>
        <mat-drawer class="side-menu" #drawer>
            <mat-nav-list *ngFor="let group of pages">
                <p style="text-align: center; color: darkgray;">{{ group.name }}</p>
                <a (click)="drawer.close()" mat-list-item class="menu-item" *ngFor="let page of group.pages" [routerLink]="page.link">
                    <mat-icon>{{ page.icon }}</mat-icon>
                    <span class="title-menu" >{{ page.name }}</span>
                </a>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
