.error {
    background-color:#FFD2D2;
    color: #D8000C;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 0.5px solid red;
}

.custom-input {
    font-size: medium;
    background-color: red;
}

.field {
    flex-grow: 1.4;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.dialog {
    min-width: 50vw;
}

@media only screen and (max-device-width: 640px) {
    .dialog {
        min-width: 80vw;
    }
}
