<div class="dialog">
    <form [formGroup]="credentials" (ngSubmit)="onPasswordChange()">
        <h2 mat-dialog-title>{{ data.username }}</h2>
        <mat-dialog-content class="mat-typography">
            <h3>Roles</h3>
            <mat-chip-list>
                <mat-chip color="accent" *ngFor="let role of data.roles" selected>{{ role.display_name }}</mat-chip>
            </mat-chip-list>
            <h3 style="margin-top: 30px;">Change your password</h3>

                <mat-form-field>
                    <mat-label>New password</mat-label>
                    <input autocomplete="new-password" matInput type="password" placeholder="password" [formControl]="credentials.controls.password" required>
                    <mat-error *ngIf="credentials.controls.password.invalid">Please input a valid password</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Password confirmation</mat-label>
                    <input autocomplete="new-password" matInput type="password" placeholder="password" [formControl]="credentials.controls.passwordConfirmation" required>
                    <mat-error *ngIf="credentials.controls.passwordConfirmation.invalid">Passwords doesn't match</mat-error>
                </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="primary" cdkFocusInitial>Close</button>
        <button [disabled]="!credentials.valid" mat-stroked-button color="primary" type="submit" >Update</button>
        </mat-dialog-actions>
    </form>
</div>
