.employees-wrapper {
  & .mat-list-item {
    padding: 20px 0 20px 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    & .information-wrapper {
      & h3 {
        font-size: 40px;
      }

      & p {
        color: grey;
        font-size: 20px;
      }
    }
    & .action-button-wrapper {
      & .mat-fab {
        border-radius: 5px;
      }
    }
  }
}
