<div class="employees-wrapper">
  <mat-list *ngFor="let user of users">
    <mat-list-item>
      <div class="information-wrapper">
        <h3>{{ user.username }}</h3>
        <p>{{ user.email }}</p>
      </div>
      <div class="action-button-wrapper">
        <button
          id="edit-button"
          (click)="onClickEdit(user.id)"
          mat-icon-button
          color="accent"
          aria-label="button to edit user"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          id="delete-button"
          mat-fab color="primary"
          aria-label="button to delete user"
          (click)="onClickDelete(user.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>
