<mat-card class="card">
  <mat-card-subtitle>Are you leaving us?</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="checkoutForm">
      <button
        (click)="onUnsubscribe()"
        mat-raised-button
        class="unsubscribe-button"
        color="warn"
      >
        delete my account
      </button>
    </form>
  </mat-card-content>
</mat-card>
