.mat-card {
  padding: 40px 80px 40px 80px;

  & .mat-card-subtitle {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }

  & .unsubscribe-button {
    display: block;
    margin: auto;
  }
}

