<mat-card class="card">
    <mat-card-subtitle>Insert your credentials</mat-card-subtitle>
    <mat-card-content>
        <div class="box">
            <div class="spacer"></div>
            <div class="field">
                <form [formGroup]="credentials" class="custom-input">
                    <div *ngIf="loginError" class="error">{{ loginError }}</div>
                    <mat-form-field >
                        <mat-label>Email</mat-label>
                        <input autocomplete="email" matInput type="email" placeholder="email@example.com" [formControl]="credentials.controls.email" required>
                        <mat-error *ngIf="credentials.controls.email.invalid">Please input a valid email</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input autocomplete="current-password" matInput type="password" placeholder="password" [formControl]="credentials.controls.password" required>
                        <mat-error *ngIf="credentials.controls.password.invalid">Please input a valid password</mat-error>
                    </mat-form-field>
                    <br>
                    <br>
                    <div class="box">
                        <div class="spacer"></div>
                        <div>
                            <button (click)="onSignin()" [disabled]="!credentials.valid" mat-stroked-button class="blue-button signin-button">Sign in</button>
                        </div>
                        <div class="spacer"></div>
                    </div>
                </form>
            </div>
            <div class="spacer"></div>
        </div>
    </mat-card-content>
</mat-card>
