.error {
    background-color:#FFD2D2;
    color: #D8000C;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 0.5px solid red;
}

.custom-input {
    font-size: large;
}

.signin-button {
    font-size: large;
}

.field {
    flex-grow: 1.4;
    text-align: center;
}

mat-form-field {
    width: 100%;
}
