<div class="vbox">
    <div class="spacer"></div>
    <div class="box">
        <div class="spacer"></div>
        <div class="signin-block">
            <app-signin></app-signin>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="spacer-large"></div>
</div>
