
<div class="dialog">
    <form [formGroup]="workingtime">
        <h2 mat-dialog-title>{{ data.type }} working time</h2>
        <mat-dialog-content class="mat-typography">
            <div class="vbox">
                <div><h4><b>Start</b></h4></div>
                <div fxFlex="row" fxLayoutAlign="space-between" fxLayout.lt-lg="column">

                    <div>
                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input [max]="getEndingDate()" matInput [matDatepicker]="pickerStart" [formControl]="workingtime.controls.startDate" required>
                            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStart></mat-datepicker>
                            <mat-error *ngIf="workingtime.controls.startDate.invalid">Invalid date</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Hours</mat-label>
                            <input matInput type="number" placeholder="Hours" [formControl]="workingtime.controls.startHours" required>
                            <mat-error *ngIf="workingtime.controls.startHours.invalid">Invalid hours</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Minutes</mat-label>
                            <input matInput type="number" placeholder="Minutes" [formControl]="workingtime.controls.startMinutes" required>
                            <mat-error *ngIf="workingtime.controls.startMinutes.invalid">Invalid minutes</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div><h4><b>End</b></h4></div>
                <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-lg="column">
                    <div>
                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input [min]="getStartingDate()" matInput [matDatepicker]="pickerEnd" [formControl]="workingtime.controls.endDate" required>
                            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                            <mat-datepicker #pickerEnd></mat-datepicker>
                            <mat-error *ngIf="workingtime.controls.endDate.invalid">Invalid date</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Hours</mat-label>
                            <input matInput type="number" placeholder="Hours" [formControl]="workingtime.controls.endHours" required>
                            <mat-error *ngIf="workingtime.controls.endHours.invalid">Invalid hours</mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Minutes</mat-label>
                            <input matInput type="number" placeholder="Minutes" [formControl]="workingtime.controls.endMinutes" required>
                            <mat-error *ngIf="workingtime.controls.endMinutes.invalid">Invalid minutes</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <div class="box">
                <div>
                    <button mat-button mat-dialog-close color="primary" cdkFocusInitial>Close</button>
                </div>
                <div class="spacer"></div>
                <div *ngIf="data.type == 'Edit'">
                    <button (click)="onDelete()" color="accent" mat-stroked-button>Delete</button>
                    <button (click)="onEdit()" color="primary" [disabled]="!workingtime.valid" mat-stroked-button>Edit</button>
                </div>
                <div *ngIf="data.type == 'Create'">
                    <button (click)="onCreate()" color="primary" [disabled]="!workingtime.valid" mat-stroked-button>Create</button>
                </div>
            </div>
        </mat-dialog-actions>
    </form>
</div>
