<mat-card class="clock-manager-card">
  <mat-card-title>declare hours worked</mat-card-title>
  <div *ngIf="!!workingTimeList === true else elseBlock;">
    <mat-card-subtitle>clock {{ clockIn ? 'in'  : 'out' }}</mat-card-subtitle>
    <mat-card-content>
      <app-clock-form
        (clockInChanged)="clockInChangedHandler($event)"
      >
      </app-clock-form>
    </mat-card-content>
  </div>
  <ng-template #elseBlock>
    <mat-card-subtitle>no work in progress</mat-card-subtitle>
    <mat-card-content>you can't clockin yet</mat-card-content>
  </ng-template>
</mat-card>
