html {
    height: 100vh;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    background-color: #aaa;
}

.noselect {
    user-select: none;
}

.blue-button {
    color: #1A73E8;
}

.box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hbox {
    display: flex;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}

.vbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.spacer-large {
    flex-grow: 2;
}

.page {
    height: 100%;
}
