<div class="page">
  <div class="single-centered-page">
    <mat-card class="card">
      <mat-card-subtitle>Edit {{ username }} information</mat-card-subtitle>
      <mat-card-content>
        <app-form-user
          [username]="username"
          [email]="email"
          submitButtonName="update"
          (submitForm)="submitFormHandler($event)"
        >
        </app-form-user>
      </mat-card-content>
    </mat-card>
  </div>
</div>
