<form
  class="single-centered-form"
  [formGroup]="userFormGroup"
  (ngSubmit)="onSubmit()"
>
  <div class="form-groups">
    <mat-form-field>
      <label for="input-email" hidden></label>
      <mat-label>Email</mat-label>
      <input
        id="input-email"
        autocomplete="email"
        matInput type="email"
        [formControl]="userFormGroup.controls.email"
        required
      />
      <mat-error *ngIf="userFormGroup.controls.email.invalid">
        Please enter a valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <label for="input-username" hidden></label>
      <mat-label>Username</mat-label>
      <input
        id="input-username"
        autocomplete="username"
        matInput
        placeholder="John Doe"
        [formControl]="userFormGroup.controls.username"
        required
      >
      <mat-error *ngIf="userFormGroup.controls.username.invalid">
        Please enter a valid username
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <label for="input-password" hidden></label>
      <mat-label>Password</mat-label>
      <input
        id="input-password"
        autocomplete="new-password"
        matInput type="password"
        [formControl]="userFormGroup.controls.password"
        required
      />
      <mat-error *ngIf="userFormGroup.controls.password.invalid">
        Please enter a valid password
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <label for="input-password-confirmation" hidden></label>
      <mat-label>Password confirmation</mat-label>
      <input
        id="input-password-confirmation"
        autocomplete="new-password"
        matInput type="password"
        [formControl]="userFormGroup.controls.passwordConfirmation"
        required
      />
      <mat-error *ngIf="userFormGroup.controls.passwordConfirmation.invalid">
        Passwords doesn't match
      </mat-error>
    </mat-form-field>

  </div>
  <div class="centered-items">
    <button
      type="submit"
      [disabled]="!userFormGroup.valid"
      mat-stroked-button
      class="blue-button centered-button"
    >
      {{ this.submitButtonName ? this.submitButtonName : 'submit' }}
    </button>
  </div>
</form>
