<mat-card class="main">
    <mat-card-header>
        <div *ngIf="dataLoaded" style="text-align: right; width: 100%;">
            <div>
                <button (click)="onCreate()" mat-fab color="accent">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <br>
            <div>
                <mat-button-toggle-group value="week" (change)="displayToogle($event)">
                    <mat-button-toggle value="day">Day</mat-button-toggle>
                    <mat-button-toggle value="week">Week</mat-button-toggle>
                    <mat-button-toggle value="month">Month</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <br>
        </div>
        <mat-card-title>
            Working times
        </mat-card-title>
        <mat-card-subtitle>
            {{ user.username }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="height: 100%;">
        <div class="vbox">
            <div class="spacer"></div>
            <div class="box">
                <div class="spacer"></div>
                <mat-spinner *ngIf="!dataLoaded"></mat-spinner>
                <div class="spacer"></div>
            </div>
            <div class="spacer"></div>
        </div>
        <div class="box" *ngIf="dataLoaded">
            <div><button (click)="onWeekBackward()" mat-stroked-button><</button></div>
            <div class="spacer"></div>
            <h3>{{ getFormatedTitle() }}</h3>
            <div class="spacer"></div>
            <div><button (click)="onWeekForward()" mat-stroked-button>></button></div>
        </div>
        <div [ngStyle]="!dataLoaded ? { display: 'none' } : {}"  id="container"></div>
    </mat-card-content>
</mat-card>
